.card {
  width: 60%;
  color: white;
  margin: 100px auto;
  border: solid 2px purple;
  opacity: 0.75;
  background-color: blueviolet;
}

.innercard {
  border: solid 2px purple;
  background-color: plum;
  margin: 10px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}

.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
